.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #FFFFFF;
  z-index: 9999;
  transition: all 0.3s linear;
  opacity: 0;
  width: 708px;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  max-height: 90%;
  overflow-y: auto;

  &.modalXl {
    width: 1000px;
  }

  .modalContent {
    width: 100%;
  }

  &.modalLg {
    width: 752px;
  }

  &.modalXXl {
    width: 1130px;
  }

  &.active {
    top: 10%;
    bottom: unset;
    height: auto;
    opacity: 1;

    .modalContent {
      padding: 24px;
    }

    //&.modalLg {
    //  .modalContent {
    //    padding: 40px;
    //  }
    //}

    @media (max-width: 576px) {
      max-height: 90%;
      bottom: 0;
      top: unset;
      overflow-y: auto;
    }
  }

  .x {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }


}

.modalBackdrop {
  position: fixed;

  background-color: rgba(63, 69, 54, 0.27);
  z-index: 9998;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  transition: all 0.3s linear;

  &.active {
    width: 100%;
    height: 100%;
  }
}
