::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #d9deec;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

$boxColor: #F5F6F6;

@font-face {
  font-family: "OnestRegular";
  src: url("./fonts/Onest/Onest-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OnestMedium";
  src: url("./fonts/Onest/Onest-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "OnestSemiBold";
  src: url("./fonts/Onest/Onest-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OnestBold";
  src: url("./fonts/Onest/Onest-Bold.ttf") format("truetype");
}

.mainLayout {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 999;

  .mainLayoutLeft {
    width: 240px;
    background-color: white;
    padding: 20px 8px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    z-index: 999;
    border-right: 1px solid #E9ECEF;

    .main-brand {
      display: flex;
      padding: 0 8px 12px 16px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E9ECEF;

      img {
        width: 150px;
      }

      button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
      }
    }

    .main-menu {
      min-height: 75vh;
      margin-top: 12px;
      padding-left: 0;

      li {
        list-style: none;
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #4A545E;
        text-decoration: none;
        letter-spacing: 0.2px;
        padding: 8px 16px;
        border-radius: 6px;
        margin-bottom: 4px;
        box-sizing: border-box;

        img {
          margin-right: 18px;
        }
      }

      .active {
        background-color: rgba(16, 40, 72, 0.09);
      }
    }

    .user {
      padding: 0 16px 0 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-info {
        margin-left: 12px;

      }

      .user-fullName {
        color: #272E35;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }

      .user-phone {
        font-family: "OnestMedium", sans-serif;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #7E8B99;
      }

      .dots-img {
        cursor: pointer;
      }
    }
  }

  .mainLayoutRight {
    width: calc(100% - 240px);
    height: 100vh;
    overflow-y: auto;

    .mainLayoutHeader {
      height: 65px;
      background-color: white;
      border-bottom: 1px solid #E9ECEF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;

      .date {
        align-items: center;
        display: flex;
        font-family: "OnestRegular", sans-serif;
        font-size: 16px;
        letter-spacing: 0.2px;
      }

      .current-date, .current-time {
        transform: translateY(1px);
      }

      .search-input {
        height: 32px;
        width: 200px;
        display: flex;
        position: relative;

        input {
          padding: 0 10px 0 35px;
          box-sizing: border-box;
          border: none;
          outline: none;
          width: 100%;
        }

        input::placeholder {
          color: #7E8B99;
          font-family: "OnestMedium", sans-serif;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
        }

        button {
          position: absolute;
          left: 0;
          top: 3px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    .mainLayoutContent {
      height: calc(100vh - 90px);
      overflow-y: auto;

      .mainLayoutContentPadding {
        padding: 24px;
      }
    }
  }
}

.home-page, .auto-counter-page {
  .main-card, .notification-card {
    background-color: $boxColor;
    border-radius: 16px;
    border: 1px solid #E5E5E5;
    height: 180px;
    margin-bottom: 20px;
    padding: 20px 20px 15px 20px;
    box-sizing: border-box;

    .main-card-header, .notification-card-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      .title {
        color: #272E35;
        font-family: "OnestMedium", sans-serif;
        font-size: 18px;
        line-height: 32px;
      }

      .text {
        color: #00AD45;
        font-family: "OnestMedium", sans-serif;
        font-size: 18px;
        line-height: 32px;
      }

      .text-dangers {
        color: #E91111;
      }
    }

    .main-card-body {
      display: flex;
      justify-content: space-between;

      .box {
        height: 120px;
        width: 33%;
        text-align: center;
        padding-top: 20px;
        box-sizing: border-box;

      }

      .box:nth-child(2) {
        padding-top: 0;
        border-right: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
      }

      .count {
        color: #000;
        font-family: "OnestSemiBold", sans-serif;
        font-size: 36px;
        line-height: 48px;
      }

      p {
        color: #333;
        font-family: "OnestRegular", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-top: 8px;
      }
    }
  }

  .main-card:last-child {
    margin-bottom: 0;
  }

  .notification-card {
    height: 580px;
    margin-bottom: 0;
    padding: 0;

    .notification-card-header {
      padding: 20px;
      margin-bottom: 8px;

      select {
        border-radius: 6px;
        border: 1px solid #CFD6DD;
        background: white;
        width: 220px;
        height: 40px;
        padding: 8px 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('assets/icon/arrow.svg');
        background-repeat: no-repeat;
        background-position: right 12px center;
      }
    }

    .notification-card-body {
      padding: 0 36px;
      box-sizing: border-box;
      margin-right: 12px;
      overflow-y: auto;
      height: 480px;

      .notification {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;

        .circle {
          width: 48px;
          height: 48px;
          border-radius: 24px;
          background: rgba(255, 99, 11, 0.20);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }

        .circle-fall {
          background: rgba(66, 153, 101, 0.10);
        }

        //.circle-parking {
        //  background: rgba(169, 163, 163, 0.20);
        //}
        //
        //.circle-safety {
        //  background: rgba(214, 146, 0, 0.20);
        //}

        .notification-info {
          margin-left: 16px;
        }

        .name {
          color: #000;
          font-family: "OnestSemiBold", sans-serif;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          text-transform: uppercase;
        }

        .text {
          color: #333;
          font-family: "OnestRegular", sans-serif;
          margin-top: 4px;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.2px;
        }

        .detail-btn {
          color: #2539D8;
          font-family: "OnestMedium", sans-serif;
          font-size: 14px;
          font-style: normal;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.2px;
          border: none;
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }

  .home-page-modal-content {
    h3 {
      color: #272E35;
      font-family: "OnestBold", sans-serif;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    .wrap {
      .wrap-item {
        width: calc(50% - 10px);

        h4 {
          color: #000;
          font-family: "OnestMedium", sans-serif;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
          margin-bottom: 16px;
        }

        img, iframe {
          width: 100%;
          height: 240px;
          object-fit: contain;
          border-radius: 16px;
        }
      }

      margin-bottom: 24px;
    }

    .info-wrap {
      margin-bottom: 24px;

      .info-wrap-item {
        margin-right: 40px;

        span, a {
          font-family: "OnestMedium", sans-serif;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.2px;
        }

        .info-wrap-item-label {
          color: #7E8B99;
          margin-right: 16px;
        }

        .info-wrap-item-info {
          color: #272E35;
        }

        .info-wrap-item-link {
          color: #1A99FF;
          text-decoration: none;
        }
      }
    }

    button {
      border-radius: 6px;
      background: #1A99FF;
      box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
      color: #FFF;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      padding: 4px 12px;
      border: none;
    }
  }
}

.factory-area-page {
  .factory-are-page-header {
    iframe {
      height: 556px;
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .factory-area-page-body {
    .title {
      color: #272E35;
      font-family: "OnestMedium", sans-serif;
      font-size: 18px;
      line-height: 32px;
    }

    .notification {
      margin-top: 20px;
      display: flex;
      margin-right: 70px;
      align-items: center;
    }

    .circle {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background: rgba(255, 99, 11, 0.20);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 16px;
    }

    .circle-fall {
      background: rgba(66, 153, 101, 0.10);
    }

    //
    //.circle-parking {
    //  background: rgba(169, 163, 163, 0.20);
    //}
    //
    //.circle-safety {
    //  background: rgba(214, 146, 0, 0.20);
    //}
  }
}

.register-page {
  .register-page-header {
    padding: 16px 24px;
    border-bottom: 1px solid #E9ECEF;

    h3 {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.1px;
      font-family: "OnestMedium", sans-serif;
    }

    p {
      color: #555F6D;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    select {
      padding: 9px 12px 9px 16px;
      border-radius: 6px;
      border: 1px solid #CFD6DD;
      color: #111;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      min-width: 200px;
      max-width: 100%;
      margin-right: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url('assets/icon/arrow.svg');
      background-repeat: no-repeat;
      background-position: right 12px center;
    }

    button {
      padding: 8px 16px 8px 12px;
      border-radius: 6px;
      background: #1A99FF;
      box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
      border: none;
      color: #FFF;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      display: inline-flex;
      align-items: center;

      img {
        margin-right: 8px;
      }
    }
  }

  .register-page-body {
    padding: 20px 24px;

    .person-info {
      width: 1152px;
      max-width: 100%;

      h4 {
        color: #272E35;
        font-family: "OnestMedium", sans-serif;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 16px;
      }

      .person-info-base {
        width: 370px;

        .person-info-image {
          border-radius: 20px;
          border: 1px solid #CFD6DD;
          background: #F5F6F6;
          overflow: hidden;
          height: 370px;

          &.person-info-image-none {
            padding: 33px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .person-info-information {
        width: 370px;

        .person-info-box {
          border-radius: 16px;
          padding: 20px;
          min-height: 236px;

          &.person-info-box-admin {
            background-color: #2D8450;
            color: #FFFFFF;
          }

          &.person-info-box-worker {
            color: #FFFFFF;
            background-color: #A07811;
          }

          &.person-info-box-none {
            background-color: #DE4413;
            color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              color: rgba(255, 255, 255, 0.90);
              font-family: "OnestMedium", sans-serif;
              font-size: 36px;
              line-height: 48px;
              text-align: center;
              letter-spacing: 0.2px;
            }
          }

          h3 {
            font-family: "OnestSemiBold", sans-serif;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 20px;
          }

          .person-info-box-content {
            .person-info-box-content-item {
              p {
                color: rgba(255, 255, 255, 0.70);
                font-family: "OnestRegular", sans-serif;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
              }

              h6 {
                font-family: "OnestMedium", sans-serif;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
              }

              &:not(:last-child) {
                margin-bottom: 16px;
              }
            }
          }
        }

        .person-info-information-badges {
          border-radius: 16px;
          border: 1px solid #CFD6DD;
          padding: 20px 20px 28px;
          margin-top: 20px;

          .person-info-information-bade-item {
            color: #333;
            font-family: "OnestRegular", sans-serif;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin-right: 20px;

            &:not(:last-child) {
              margin-bottom: 16px;
            }

            .circle {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-right: 8px;

              &.circle-admin {
                background-color: #00AD45;
              }

              &.circle-not-recognized {
                background-color: #DE4413;
              }

              &.circle-worker {
                background-color: #A07811;
              }
            }
          }
        }
      }
    }
  }
}

.register-modal-content {
  h3 {
    color: #272E35;
    font-family: "OnestBold", sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  video {
    width: 100% !important;
    height: auto !important;

  }

  .video-wrap {
    width: 100% !important;
    height: 400px !important;
  }
}

.check-page {

}

.users-page {
  .users-page-header {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      color: #272E35;
      font-family: "OnestMedium", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0.1px;
    }

    .user-job {
      color: #555F6D;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      font-style: normal;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    button {
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      border: none;
      width: 170px;
      height: 40px;
      border-radius: 6px;
    }

    .import-btn {
      border: 1px solid #CFD6DD;
      box-shadow: 0 1px 2px 0 rgba(27, 36, 44, 0.12);
      background-color: transparent;
      color: #4A545E;
      font-family: "OnestMedium", sans-serif;
      margin-right: 16px;

      img {
        margin-right: 8px;
      }
    }

    .add-btn {
      background: #1A99FF;
      box-shadow: 0 1px 2px 0 rgba(27, 36, 44, 0.12);
      color: #FFF;

      img {
        margin-right: 8px;
      }
    }
  }

  .line {
    border-top: 1px solid #E9ECEF;
  }

  .users-page-body {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;

    .search-input {
      height: 32px;
      width: 200px;
      display: flex;
      position: relative;

      input {
        padding: 0 10px 0 35px;
        box-sizing: border-box;
        border: none;
        outline: none;
        width: 100%;
      }

      input::placeholder {
        color: #7E8B99;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }

      button {
        position: absolute;
        left: 0;
        top: 3px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .filter-btn {
      width: 100px;
      height: 32px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.00);
      border: none;
      color: var(--action-neutral-normal, #4A545E);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: OnestMedium, sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;

      img {
        margin-right: 8px;
      }
    }

  }

  .users-page-footer {

    table {
      th {
        background-color: #F5F7F9;
        color: #272E35;
        font-family: "OnestMedium", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        padding: 10px 24px;
        vertical-align: middle;
      }

      td {
        vertical-align: middle;
        color: #272E35;
        font-family: "OnestRegular", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 0px 24px;
      }

      td:first-child {
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }

      td:last-child {
        text-align: right;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .user-page-modal-content {
    color: #555F6D;
    font-family: "OnestMedium", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .user-page-modal-footer {
    display: flex;
    justify-content: flex-end;

    button {
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      width: 100px;
      height: 40px;
      border-radius: 6px;
    }

    .btn:first-child {
      border: 1px solid #CFD6DD !important;
      box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
      color: #4A545E;

    }

    .btn:last-child {
      width: 115px;
      color: white;
      background: #C53434;
      box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
    }
  }
}

.add-user-page {
  padding: 24px;

  .add-user-page-header {
    display: flex;
    align-items: center;

    a:first-child {
      margin-right: 6px;
    }

    .arrow-right-img {
      margin-right: 12px;
    }

    .users-link {
      color: #4A545E;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-decoration: none;
      margin-right: 12px;
    }

    span {
      color: #A3A8AD;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }
  }

  .title {
    margin-top: 16px;
    color: #272E35;
    font-family: "OnestMedium", sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }

  form {
    margin-top: 48px;
    display: flex;

    .upload-user-img {
      input {
        display: none;
        visibility: hidden;
      }

      label {
        width: 132px;
        height: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #DEE3E7;
        border-radius: 50%;
      }

      .show-user-image {
        width: 132px;
        height: 132px;
        border-radius: 50%;
        display: block;
      }

      button {
        margin-top: 16px;
        height: 48px;
        border-radius: 6px;
        border: 1px solid #CFD6DD;
        box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
        color: #4A545E;
        font-family: "OnestMedium", sans-serif;
        background-color: transparent;
        padding: 0 16px;
      }
    }

    .upload-user-info {
      margin-left: 56px;

      label {
        color: #272E35;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        letter-spacing: 0.2px;
        margin-bottom: 8px;
      }

      input[type="text"], input[type="email"], select {
        width: 320px;
        height: 40px;
        margin-right: 64px;

        &::placeholder {
          color: #7E8B99;
          font-size: 14px;
        }
      }

      .btn-groups {
        button:first-child {
          border-radius: 6px;
          background: #1D7C4D;
          width: 148px;
          height: 48px;
          box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
          color: var(--action-inverted-normal, #FFF);
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: "OnestMedium", sans-serif;
          line-height: 28px;
          border: none;
          letter-spacing: 0.2px;
          margin-right: 16px;
        }

        button:last-child {
          width: 105px;
          height: 48px;
          border-radius: 6px;
          border: 1px solid #CFD6DD;
          box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
          color: #4A545E;
          font-family: "OnestMedium", sans-serif;
          line-height: 28px;
          letter-spacing: 0.2px;
          background-color: transparent;

          img {
            margin-right: 8px;
          }
        }

        margin-right: 64px;
      }
    }
  }
}

.login-page {
  padding: 50px 0 0 0;

  .login-page-header {
    .title {
      color: #272E35;
      font-family: "OnestRegular", sans-serif;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.2px;
      margin-bottom: 8px;
    }
  }

  .login-page-body {
    margin-top: 50px;

    form {
      width: 484px;
      height: 444px;
      border-radius: 6px;
      border: 1px solid #CDE9FF;
      background: #F5FAFF;
      margin: 0 auto;
      padding: 64px 82px;
      box-sizing: border-box;
    }

    h4 {
      font-family: "OnestMedium", sans-serif;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.1px;
      text-align: center;
      margin-bottom: 32px;
    }

    label {
      color: #272E35;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 8px;
      letter-spacing: 0.2px;
    }

    input {
      padding: 8px 16px;
      border-radius: 6px;
      border: 1px solid #CFD6DD;
      background: white;
      color: black;

      &::placeholder {
        color: #7E8B99;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }

    button {
      width: 320px;
      height: 48px;
      margin-top: 32px;
      border-radius: 6px;
      background: #1A99FF;
      box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
      color: #FFF;
      font-family: "OnestMedium", sans-serif;
      line-height: 28px;
      letter-spacing: 0.2px;
      border: none;
    }
  }
}

.auto-counter-page {
  .auto-counter-page-header {
    padding: 16px 24px;

    .title {
      color: #272E35;
      font-family: "OnestMedium", sans-serif;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.1px;
    }

    .text {
      color: #555F6D;
      font-family: "OnestRegular", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    select {
      border-radius: 6px;
      border: 1px solid #CFD6DD;
      background: white;
      width: 200px;
      height: 40px;
      overflow: hidden;
      color: #111;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      padding: 8px 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url('assets/icon/arrow.svg');
      background-repeat: no-repeat;
      background-position: right 12px center;
    }
  }

  .line {
    border-bottom: 1px solid #E9ECEF;
  }

  .auto-counter-page-body {
    display: flex;
    padding: 20px 24px;

    .image-section {
      width: 100%;
      margin-right: 16px;
      .video-wrap {
        width: 100% !important;
        height: unset!important;
        background-color: black;
      }
      video {
        height: calc(100vh - 225px)!important;
        //height: unset!important;
        width: 100% !important;
      }
    }

    table {
      width: 100%;
      background-color: white;

      th {
        padding:6px;
        background-color: #E9ECEF;
        color: #000;
        font-family: "OnestMedium", sans-serif;
        font-size: 14px;
        letter-spacing: 0.2px;
      }
      th:first-child{
        padding-left: 12px;
      }
      th:last-child{
        padding-right: 12px;
      }

      td {
        font-size: 14px;
        padding: 6px;
        vertical-align: middle;
      }

      td:nth-child(2) {
        font-family: "OnestMedium", sans-serif;
      }
      td:last-child{
        padding-right: 12px;
      }
      td:first-child {
        padding-left: 12px;
        .image-wrap{
          width: 80px;
          position: relative;
          img {
            width: 100%;
          }
          .image-wrap-layer{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.50);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-size: 12px;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.2px;
            opacity: 0;
            transition: all 0.2s linear;
          }
        }

      }
      tbody{
        tr{
          cursor: pointer;
        }
      }

      tbody {
        tr:hover{

          td{
            background: #F4F7FA;
            .image-wrap-layer{
              opacity: 1!important;
            }
          }
        }
      }
    }

    .notification-card {
      border-radius: 0;
      width: 416px;
      overflow-x: hidden;
      flex-shrink: 0;
      height: unset!important;
      max-height: calc(100vh - 219px) !important;

      .notification-card-header {
        padding: 12px;
        align-items: center;
        select{
          height: 35px;
          width: 190px;
          font-size: 14px;
        }
      }

      .notification-card-body {
        padding: 0;
        margin-right: 0;
        height: calc(100% - 67px);
      }
    }
  }

  .street-page-body {
    padding: 20px 24px 0 24px;

    .video-wrap {
      height: auto !important;
      width: 100% !important;
    }
  }
}

.pagination {
  align-items: center;

  .page-item {
    a {
      background-color: transparent !important;
      color: #0D0C22;
      font-size: 14px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-top: none;
      border-bottom: none;
      border-radius: 0 !important;
    }
  }

  .active {
    a {
      font-weight: 700;
    }
  }

}

.search-select {
  width: 250px;
  margin-right: 16px;
  height: 44px;

  .select__control {
    height: 100%;
  }
}

.mini-box{
  background: #5C5C5C;
}

.auto-counter-page-feruz {
  h4{
    overflow: hidden;
    color: #111;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
    margin-top: 30px;
  }
  .add-user-page-header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 24px;
    a:first-child {
      margin-right: 6px;
    }

    .arrow-right-img {
      margin-right: 12px;
    }

    .users-link {
      color: #4A545E;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      text-decoration: none;
      margin-right: 12px;
    }

    span {
      color: #A3A8AD;
      font-family: "OnestMedium", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }
  }

  .street-page-body-feruz {
    padding: 0px 24px 0 24px;
    .row{
      //display: flex;
      .col-md-6, .col-md-12{

        //padding: 20px;
        //width: 100%;
        .cameras{

          .video-wrap {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }

  }
  .f-btn{
    margin-top: 25px;
    color: var(--action-neutral-normal, #4A545E);
    font-feature-settings: 'clig' off, 'liga' off;
    background: transparent;
    border-radius: 6px;
    margin-left: 24px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--action-outline-normal, #CFD6DD);
    box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
    img{
      margin-right: 8px;
    }
  }
}